<div class="well">
<h3><span class="glyphicon glyphicon-hourglass"></span>{{jobdata.title}}..needed</h3>
        <div class="well-body">
        <p><strong>{{ jobdata.closing}}</strong></p>
            
        
        <h5 class="headman"><a ng-click="addlike()" ng-show="!liked"><span class="glyphicon glyphicon-thumbs-up"></span>like</a>
                 <a ng-show="liked"><span class="glyphicon glyphicon-ok-sign"></span>you liked</a>
               
            
             <a class="linkx"><span class="glyphicon glyphicon-share"></span>share</a>
            
            
            <a ng-show="noresults" class="linkz" ng-click="addstuff()"><span class="glyphicon glyphicon-save-file"></span>add to your job box</a>
            <a ng-show="!noresults" class="linkz" ui-sref="dashboard.applydash" style="color: red;" ><span class="glyphicon glyphicon-floppy-saved"></span>added! check joBox</a></h5>
            
    </div>
</div>