<div>
<div class="well">
<h3><span class="glyphicon glyphicon-hourglass"></span>{{job.title}}..needed</h3>
        <div class="well-body">
        <p><strong>{{ job.closing}}</strong></p>
            
        <button class="btn btn-success form-control" ng-show="!cvsendok" ng-click="dropcv()" >drop your cv</button>
        <button class="btn btn-primary form-control" ng-show="cvsendok" >waiting reply</button>
        <button class="btn btn-warning form-control" ng-click="carddelete()">discard job vaccant</button>
    </div>
</div>
</div>